version: '3.8'
services:
  database:
    image: postgres:latest
    environment:
      - POSTGRES_DB=snoopchat
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
    ports:
      - 5432:5432